@using LexicalClient.Models;
@model List<Word>;
<h1>All Words:</h1>

<ol>
@foreach (Word word in Model)
{
    <ul>
        <li>@Html.ActionLink(@word.name, "Details", new Word {wordId = word.wordId, name = word.name, rating = word.rating, ratingCount = word.ratingCount }, new {style = "color:white"})</li>
        
    </ul>
    <br>
}
</ol>

<button class="btn btn-default">@Html.ActionLink("Add a word", "Rating", new {style = "color:white"})</button>