@using LexicalClient.Models;
@model List<Word>;
<h1>All Words:</h1>

<ol>
@foreach (Word word in Model)
{
    <ul>
        <li>Name: @word.name</li>
        <li>Rating: @word.rating</li>
    </ul>
    <br>
}
</ol>

<h3>@Html.ActionLink("Add a word", "Rating")</h3>